@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

header a #mainlogo{
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 3%;
}

header{
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.4% 2%;
}

.navlinks{
    list-style-type: none;
    padding: 0 2%;
}

.navlinks a{
    color: black;
    text-decoration: none;
    padding: 10%;
}

.navlinks li a:hover{
    color: rgb(249, 17, 52);
    border-bottom: 3px solid rgb(249, 17, 52);
}


.navlinks li{
    display: inline-block;
    padding: 15px;
}

header a{
    padding: .5% 1%;
}

.login button{
    font-size: .9em;
    border: none;
    border-radius: 4px;
    background-color: rgb(249, 17, 52);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.register button{
    border-radius: 4px;
    font-size: .9em;
    cursor: pointer;
    border: 2px solid rgb(249, 17, 52);
    background-color: white;
    color:rgb(249, 17, 52);
    padding: 8px 20px;
}

.register button:hover{
    background-color: rgb(249, 17, 52);
    border-radius: 4px;;
    color: white;
}

.quote1{
    position: absolute;
    left: 5%;
    top: 25%;
    width: 38%;
    height: 21%;
}
.quote1 h1{
    text-align: left;
}

.quote1 p{
    font-weight: bold;
    padding: 5%;
    color: #303030;
    font-size: 1.5em;
}

.quote{
    border-radius: 10px;
    margin: 7% 24% 10% 24%;
    padding: 3%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.quoteImg,.quoteTxt{
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: left;
}

.quoteTxt{
    margin: 0 2em 1em 2em;
}

.quoteTxt p{
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 2%;
}

#ex1,#ex2,#ex3{
    font-family:sans-serif;
    border: 2px solid #C4CFD8;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding-left: 2%;
    margin: 5% 10%;
}

.exGrid1,.exGrid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    margin: 2%;
}

.exGrid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr); 
    margin: 2%;
}
.list3 p{
    margin-bottom: 5%;
    margin-right: 5%;
}

#def1,#def3{
    font-size: 1.2em;
    grid-area:1/1/2/3 ;
    line-height: 1.5em;
}

.list1,.list3{
    font-size: 1.1em;
    grid-area:2/1/3/3 ;
}

.list2{
    font-size: 1.1em;
    grid-area:2/2/3/4 ;
}

#img1,#img3{
    display: grid;
    place-items: center;
    grid-area: 1/4/3/3;
}

#img3 img{
    object-fit: cover;
    width: 100%;
}
#def2{    
    font-size: 1.2em;
    grid-area: 1/2/2/4;
    line-height: 1.5em;
}
#img2{
    grid-area: 1/1/3/2;
}
.list ul li a{
    color: rgb(249, 17, 52);
    line-height: 1.5em;
    text-decoration: underline;
}

li{
    list-style: none; 
}

.exImg{
    position: relative;
    overflow: hidden;
}
.exMean{
    position: absolute;
}
.check{
    line-height: 1.8em;
    border-radius: 10px;
    margin: 4% 20% 5% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.check h1{
    color: rgb(249, 17, 52);
    padding: 2% 3% 2% 3%;
}

.check p{
    font-size: 1.2em;
    width: 70%;
    margin: 0 15% 3% 15%;
    text-align: center;

}

#why{
    width: 35%;
    margin: 0 0 3% 0;
}

#ex1 h1{
    text-align: left;
    padding-left: 2%;
}
#ex2 h1{
    padding-right: 2%;
}
#ex3 h1{
    text-align: left;
    padding-left: 1.9%;
}

footer{
    font-size: .9em;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(249, 17, 52);
    padding: 5% 3%;
    margin-top: 5%;
}

footer p{
    background-color: rgb(249, 17, 52);
    color: white;
    margin-right: auto;
}

footer a{
    display: inline-block;
    background-color: rgb(249, 17, 52);
    color: white;
    text-decoration: none;
    margin: 0 1.5% 0.3% 1.5%;
}

footer a:hover{
    text-decoration: underline;
}
