<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/diet.css">
    <title>Diet Page</title>
</head>
<body>
    <header>
        <a href="../templates/homePage.html"><img src="../static/Images/Heart my Heart cropped.png" alt="HeartMyHeart Logo" height="52px" id="mainlogo"></a>
        <ul class="navlinks">
            <li><a href="../templates/homePage.html">Home</a></li>
            <li><a href="../templates/diet.html">Diet</a></li>
            <li><a href="../templates/exercise.html">Exercise</a></li>
        </ul>
        <a href="../templates/registeration.html" class="register"><button id="register">Register</button></a>
        <a href="../templates/login.html" class="login"><button id="login">Login</button></a>
    </header>

    <div class="exImg">


        <h1 class="introhead">Healthy eating for a strong heart beating !</h1>
        <img src="../static/Images/cover.png" id="exImg" width="100%" alt="Cover Image">
    </div>

    <div class="check">
        <h1>What is the need of healthy diet ?</h1>
        <img src="../static/Images/healthy or unhealthy.png" alt="Illustration" id="why">
        <p class="importance">
            Those who think they have no time for healthy eating will sooner or later for healthy eating will sooner or later have to find time for illness.
        </p>
    </div>

    <div class="section1">
        <h2 class="sectionhead">Diet changes are never easy</h2>
        <img src="../static/Images/Healthy diet.png">
        <div class="para-2">Although you might know that eating certain foods can increase your heart disease risk, changing your eating habits is often tough. Once you know which foods to eat more of and which foods to limit, you"ll be on your way toward a heart-healthy diet.</div>
    </div>
    <h1>Fruits and Veggies</h1>
    <div class="container1">
        <div class="left1">
            <h2>Include</h2>
            <ul>
                <li>Fresh and Frozen vegetables</li>
                <li>Low-sodium canned vegetables</li>
                <li>Canned fruit packed in juice or water</li>
            </ul>
        </div>
        <div class="right1">
            <h2>Avoid</h2>
            <ul>
                <li>Coconut</li>
                <li>Vegetables with creamy sauces</li>
                <li>Fried or breaded vegetables</li>
                <li>Canned fruit packed in heavy syrup</li>
            </ul>
        </div>
    </div>
    <h1>Whole Grains</h1>
    <div class="container2">
        <div class="left2">
            <h2>Include</h2>
            <ul>
                <li>Whole-wheat flour</li>
                <li>Whole-grain pasta</li>
                <li>Oatmeal (steel-cut or regular)</li>
            </ul>
        </div>
        <div class="right2">
            <h2>Avoid</h2>
            <ul>
                <li>Muffins</li>
                <li>Biscuits</li>
                <li>Frozen waffles</li>
                <li>Buttered popcorn</li>
            </ul>
        </div>
    </div>
    <h1>Fats</h1>
    <div class="container3">
        <div class="left3">
            <h2>Include</h2>
            <ul>
                <li>Olive oil</li>
                <li>Canola oil</li>
                <li>Margarine, trans fat free</li>
                <li>Nuts, seeds</li>
            </ul>
        </div>
        <div class="right3">
            <h2>Avoid</h2>
            <ul>
                <li>Butter</li>
                <li>Cream sauce</li>
                <li>Bacon fat</li>
                <li>Lard</li>
            </ul>
        </div>
    </div>
    <h1>Low-fat Protein Sources</h1>
    <div class="container4">
        <div class="left4">
            <h2>Include</h2>
            <ul>
                <li>Eggs</li>
                <li>Legumes</li>
                <li>Lean ground meats</li>
            </ul>
        </div>
        <div class="right4">
            <h2>Avoid</h2>
            <ul>
                <li>Spareribs</li>
                <li>Hot dogs and sausages</li>
                <li>Bacon</li>
                <li>Fatty and marbled meats</li>
            </ul>
        </div>
    </div>
    <h1>Related to Salt</h1>
    <div class="container5">
        <div class="left5">
            <h2>Include</h2>
            <ul>
                <li>Herbs and spices</li>
                <li>Salt-free seasoning blends</li>
                <li>Ketchup</li>
            </ul>
        </div>
        <div class="right5">
            <h2>Avoid</h2>
            <ul>
                <li>Table salt</li>
                <li>Canned soups and prepared foods</li>
                <li>Restaurant meals</li>
            </ul>
        </div>
    </div>
    <footer>
        <p>&copy; 2022 HeartMyHeart</p>
        <a href="">FAQs</a>
        <a href="">Ambulance Assitance</a>
        <a href="">Clinics near me</a>
        <a href="">Learn More</a>
    </footer>
</body>
</html>