@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.container{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 10%;
    left: 20%;
    height: 75%;
    width: 60%;
}

.left form input{
    font-size: 1.05em;
    display: block;
    width: 80%;
    padding: 2%;
    margin: 5% 10%;
}

.left{
    width: 100%;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    text-align: center;
}

.left h1{
    padding: 7%;
    font-size: 2.5em;
}

.home{
    position: absolute;
    border border-radius: 1px;
    padding:.5%;
    top: 2%;
    left: 2%;
    text-decoration: none;
    color:rgb(249, 17, 52);
}

.home a{
    font-size: 1.2em;
}

.home:hover{
    border-bottom: 2px solid rgb(249, 17, 52);
}

form button{
    font-size: 1.05em;
    border: none;
    border-radius: 5px;
    margin: 5%;
    padding: 3% 7%;
    text-decoration: none;
    background-color: white;
    border: 2px solid rgb(249, 17, 52);
    color: rgb(249, 17, 52);
}

form button:hover{
    background-color: rgb(249, 17, 52);
    color: white;
    cursor: pointer;
}

form a{
    display: block;;
    text-decoration: none;
    color: rgb(249, 17, 52);
}

form a:hover{
    text-decoration: underline;
    cursor: pointer;
}


.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:rgb(249, 17, 52);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right h1{
    font-size: 2.5em;
    margin: 7% 7% 5% 7%;
    color: white;
}

.right p{
    padding: 3%;
    text-align: center;
    width: 75%;
    font-size: 1.2em;
}