@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.userdata{
    font-family: 'Poppins', sans-serif;
    margin: 4% 20%;
    padding: 3% 7%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
} 

input[type="text"],input[type="email"],input[type="number"]{
    width: 60%;
    margin: 2% 0;
    padding: 1.5%;
}

.userdata .gender{
    margin: 2% 0%;
    padding: 0%;

}

.home{
    position: absolute;
    border-radius: 1px;
    padding:.5%;
    top: 2%;
    left: 2%;
    text-decoration: none;
    color:rgb(249, 17, 52);
}

.home a{
    font-size: 1.2em;
}

.home:hover{
    border-bottom: 2px solid rgb(249, 17, 52);
}

button{
    font-size: 1.05em;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin: 5% 40%;
    padding: 2%;
    text-decoration: none;
    background-color: white;
    border: 2px solid rgb(249, 17, 52);
    color: rgb(249, 17, 52);
}

button:hover{
    background-color: rgb(249, 17, 52);
    color: white;
    cursor: pointer;
}