@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    ont-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.home{
    position: absolute;
    border border-radius: 1px;
    padding:.5%;
    top: 2%;
    left: 2%;
    text-decoration: none;
    color:rgb(249, 17, 52);
}

.home a{
    font-size: 1.2em;
}

.home:hover{
    border-bottom: 2px solid rgb(249, 17, 52);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.personaldetails{
    font-size: 1.05em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personaldetails .name,.email,.age,.gender,.bp,.cholestrol,.sugar{
    display:inline-block;
    padding: 1%;
    text-decoration: none;
}

.personaldetails h1{
    margin: 2%;
}

.name input{
    padding: 5%;
}

.email input{
    padding: 5%;
}

.gender select{
    padding: 3%;
}
.details .submit{
    font-size: 1.05em;
    border-radius: 5px;
    margin: 3%;
    padding: 1% 7%;
    text-decoration: none;
    background-color: white;
    border: 2px solid rgb(249, 17, 52);
    color: rgb(249, 17, 52);
}

.details .submit:hover{
    background-color: rgb(249, 17, 52);
    color: white;
    cursor: pointer;
}




